{% extends 'base.html.twig' %}

{% block title %}OnlyNews | {{sources[0].category|capitalize}}{% endblock %}

{% macro displayGeneralSources(sources) %}
    {% for source in sources %}
        <div class="card w-100 mb-2">
            <div class="card-body">
                <h3 class="display-5">{{source.name}}</h3>
                <h3 class="h4">{{source.description}}</h3>
                <a class="text-decoration-none text-dark"
                    href="{{source.url}}">
                    <h3 class="h6 text-danger" >{{source.url}}</h3>
                </a>
            </div>  
        </div>
    {% endfor %}
{% endmacro %}

{% set currentPath = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}

{% block body %}
    {{_self.displayGeneralSources(sources)}}
{% endblock %}

{% block javascripts %}
    <script>
        let selectedPath = document.getElementById('{{currentPath}}')
        selectedPath.classList.add('bg-danger')
        selectedPath.classList.add('text-white')
        selectedPath.classList.add('w-25')
        selectedPath.classList.add('brand')
    </script>
{% endblock %}
