<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="{{asset('/css/custom.css')}}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        {% block stylesheets %}{% endblock %}
        <script src="{{asset('/js/onhover-article-animation.js')}}"></script>

    </head>
    <body>
        <div id="content" class="container">
            <nav class="navbar navbar-expand-sm">
                <div class="row w-100">
                    <div class="col-4">
                        <a href="{{path('index')}}" class="text-decoration-none">
                            {# <img class="img-fluid navbar-brand" src="{{asset('/images/globe.png')}}"> #}
                            <div class="bg-danger p-2 text-white border rounded d-inline-block brand">
                                <h1 class="m-0 text-right h4">
                                    ONLY
                                    <span class="bg-white border rounded text-danger pr-1 pl-1 my-auto font-weight-bold">NEWS</span>
                                </h1>
                            </div>
                        </a>
                    </div>
                    <div class="col-8 align-middle my-auto pr-0">
                        {% if app.user is not null %}
                            {# {{dump(app.user)}} #}
                  
                            <div class="pl-4 my-2 float-right">
                            
                                <a role="button" href="{{path('user_show', {id: app.user.id})}}" class="btn btn-outline-danger">{{app.user.email}}</a>
                            
                            </div>

                            {# Display user dropdown #}
                            {% else %}
                            <form class="form-inline my-2 float-right" action="{{path('app_login')}}">
                                <input type="submit"
                                    class="btn-outline-danger text-white bg-danger my-2 my-sm-0 ml-1 p-1 rounded font-weight-bold" 
                                    value="Login"/>
                            </form>
                        {% endif %}
                        <form method="POST" action="/search"
                            class="form-inline my-2 float-right"> 
                            <input class="bg-transparent border-2 border-danger rounded-left p-1" type="text" name="query" 
                                placeholder="search by keyword" style="outline:0px !important;"required>
                            <button class="btn-outline-danger text-white bg-danger my-2 my-sm-0 p-1 rounded-right font-weight-bold" 
                                type="submit"> 
                                ↵
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
            {% block body %}{% endblock %}
        </div>
        <div id="svg"></div>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
        <script src="{{asset('/js/background-svg.js')}}"></script>
        <script src="{{asset('/js/button-animation.js')}}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
